*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
}
html{
    font-size:62.5%;
}
/* navbar styling start */
/* Base Styles */
/*  */
/* Panle and navbar end */
.card:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border:none;
  }
  .b-img img{
 width:100%;
 aspect-ratio:3/3;
 object-fit:contain;
  }
  .container{
      margin-bottom:50px;
  }
  .btn-warning{
    width:25rem;
  }
li{
    list-style:none;
    padding:10px;
}
.footer-div{
  padding:20px;
  letter-spacing:5;
  line-height:2;
  font-size:1.8rem;
}
.footer-div a{
    text-decoration:none;
}
.one{
    width:120px;
    background: transparent;
    border-radius:4px;
}
#color{
    color: white;
}
.navbar {
height:60px;
padding:20px;
font-size:1.8rem;
}
.form1{
    width:60%;
    background: orange;
    height:5rem;
    border-radius:8px;
}
.form1 button{
    width:auto;
    border:none;
    font-size:1rem;
}
.nav-2{
    display:flex;
    align-items:center;
    font-size:2.3rem;
}
.nav-2 i{
    margin-right:15px;
}